.catalog {
    margin-bottom: 85px;

    &__title {
        color: #000000;
        font-size: 32px;
        font-weight: bold;
        margin: 0px 0px 22px 0px;
    }

    &__row {
        // position: relative;

        height: 380px;
        // width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 30px;
        // overflow: hidden;
    }

    &__column {
        // display: grid;

        &:nth-child(2) {
            display: grid;
            grid-column-gap: 30px;
            grid-row-gap: 30px;
            grid-template-columns: 1fr 1fr;
        }
    }

    &__category {}
}



.catalog-category-favorite {
    cursor: pointer;
    border-radius: 9px;
    overflow: hidden;
    position: relative;
    height: 380px;//
    //background: #000;

    &:hover{
        .catalog-category-favorite__title{
            color: #F9A43F;
        }
    }


    &__title {
        display: inline-block;
        color: #fff;
        font-weight: bold;
        font-size: 18px;
        background: #2A2A2A;
        width: 100%;
        padding: 13px 32px;//
        position: absolute;
        bottom: 0;
        left: 0;
        // transition: 0s all s ease;

    }




    & img {
        object-fit: cover;
    }

    &__img {
        width: 540px;//
    }

}